In [15]:
import pandas as pd

s1 = pd.Series([10, 15, 3])
s2 = pd.Series([1, 2, 4])

addition = s1 + s2
subtraction = s1 - s2
multiplication = s1 * s2
division = s1 / s2

print("Addition:\n", addition)
print("Subtraction:\n", subtraction)
print("Multiplication:\n", multiplication)
print("Division:\n", division)

Addition:
 0    11
1    17
2     7
dtype: int64
Subtraction:
 0     9
1    13
2    -1
dtype: int64
Multiplication:
 0    10
1    30
2    12
dtype: int64
Division:
 0    10.00
1     7.50
2     0.75
dtype: float64

In [16]:
data = {'E': 30, 'F': 12, 'G': 15}
series = pd.Series(data)
print(series)

E    30
F    12
G    15
dtype: int64

In [17]:
import numpy as np

np_array = np.array([10, 145, 90])
series_from_array = pd.Series(np_array)
print(series_from_array)

0     10
1    145
2     90
dtype: int32

In [18]:
series = pd.Series([10, 15, 25, 30, 35,40])
array_from_series = series.to_numpy()
print(array_from_series)

[10 15 25 30 35 40]

In [19]:
series_of_lists = pd.Series([[1, 2], [3,4], [5,6]])
flattened_series = pd.Series([item for sublist in series_of_lists for item in sublist])
print(flattened_series)

0    1
1    2
2    3
3    4
4    5
5    6
dtype: int64

In [20]:
data = {'name': ['Navya', 'Ayush', 'Akriti'], 'age': [21, 21, 25]}
df = pd.DataFrame(data)
print(df)

     name  age
0   Navya   21
1   Ayush   21
2  Akriti   25

In [21]:
df = pd.DataFrame({'name': ['Ayush', 'Akriti', 'Navya', 'David', 'Aditi'], 'age': [25, 30, 35, 40, 45]})
first_3_rows = df.head(4)
print(first_3_rows)

     name  age
0   Ayush   25
1  Akriti   30
2   Navya   35
3   David   40

ValueError: Length of values (6) does not match length of index (7)

In [9]:
missing_score_rows = df[df['score'].isna()]
print(missing_score_rows)

    name  score  attempts qualify
d  James    NaN         3      no
h  Laura    NaN         1      no

In [25]:
import pandas as pd
data = {
 'name': ['Navya', 'Akriti', 'Aditi', 'Ayush', 'Aman'],
 'score': [99, 93, 88, 92, 78],
 'age': [21, 27, 28, 22, 30],
 'city': ['New York', 'Los Angeles', 'Chicago', 'Houston', 'Phoenix']
}
df = pd.DataFrame(data)
new_row = pd.DataFrame([{'name': 'Khushi', 'score': 95, 'age': 26, 'city': 'Dallas'}])
df = pd.concat([df, new_row], ignore_index=True)
print("DataFrame after appending the new row:")
print(df)
df = df.drop(df.index[-1])
print("\nDataFrame after deleting the new row (returning to original):")
print(df)

DataFrame after appending the new row:
     name  score  age         city
0   Navya     99   21     New York
1  Akriti     93   27  Los Angeles
2   Aditi     88   28      Chicago
3   Ayush     92   22      Houston
4    Aman     78   30      Phoenix
5  Khushi     95   26       Dallas

DataFrame after deleting the new row (returning to original):
     name  score  age         city
0   Navya     99   21     New York
1  Akriti     93   27  Los Angeles
2   Aditi     88   28      Chicago
3   Ayush     92   22      Houston
4    Aman     78   30      Phoenix